<div class="container">

    <form>

        <h1 class="mt-5">Admin ID</h1>

        <div class="errorDisp">
            Wrong ID
        </div>

        <div class="input-cont">
            <label for="adminID">Admin ID <span>*</span></label>
            <span class="disp">Enter a valid id</span>
            <input type="password" name="adminID" placeholder="Enter your adminID">
        </div>
        
        <div class="action mt-3">
            
            <button type="button">Submit</button>
            
            <p><span>? </span><b onclick="window.location.href='/auth/signup'">Log out</b></p>
        
        </div>

        
        
    </form>

</div>